<h2>Reply to <%= @request.user.first_name %>'s request, "<%= @request.title %>"</h2>

<%= form_for(@comment) do |f| %>
<%= hidden_field_tag(:request_id, request[:request_id])%>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= explode pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.text_area :body %>
  </div>



  


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>



<%=  link_to 'Back', comments_path %>
