<div class="container">

  <div class="row">
    <div class="col s12 m6">
      <h4><%= @user.first_name %></h4>
       <div class="picture">
          <% if @user.avatar.nil? %>
            <%= image_tag("https://api.adorable.io/avatars/200/abott@adorable.png") %>
          <% else %>
            <%= cl_image_tag(@user.avatar, :height => 200, :crop => :thumb, :gravity => :face) %>
          <% end %>
      </div>
      <ul>
        <li>Name: <%= @user.first_name %> <%= @user.last_name %></li>
      </ul>
      <ul>
        <li>Date Joined: <%= @user.created_at.strftime("%B %d, %Y")%></li>
      </ul>

      <div class="center">
        <% if current_user  %>
        <%= button_to "Edit", edit_user_registration_path , method: "get", class: "left waves-effect waves-light btn" %>
        <% end %>
      </div>
    </div>
    <div class="col s12 m6">
      <h4 class="center">Your Posts</h4>
    
    </div>
  </div>
</div>