






    <div class= "col-md-5 col-md-offset-3 user-show">
      <h4><%= @user.first_name %></h4>
       <div class="user-show-pic">
          <% if @user.avatar.nil? %>
            <%= image_tag("https://api.adorable.io/avatars/200/abott@adorable.png") %>
          <% else %>
<%= image_tag current_user.avatar, :width=> "150px", :height=> "150px" %>
          <% end %>
      </div>
      <br>
      <ul>
        <li>Name: <%= @user.first_name %> <%= @user.last_name %></li>
      </ul>
      <ul>
        <li>Date Joined: <%= @user.created_at.strftime("%B %d, %Y")%></li>
      </ul>
      <ul>
        <li>Address: <%= @user.home_address%></li>
      </ul>
      

      <div class="center">
        <% if current_user  %>
        <%= button_to "Edit", edit_user_registration_path , method: "get", class: "left waves-effect waves-light btn" %>
        <% end %>
      </div>
    </div>
    
  </div>
</div>