<div class="col-md-6 col-md-offset-2">
  <span class = "req-header">Request</span>
  <span class="req-specs"> - <%= time_ago_in_words(@request.created_at) %> ago</span>
</div>
<div class="thumbnail col-md-6 col-md-offset-2">
  <div class="title well">
    <span class="header-requests"><strong> <%= @request.title %> </strong></span>
    <br>
    <span class="req-specs"><%= @request.user.first_name %> </span>,
    <span class="req-specs"><%= @request.distance_to(current_user.home_address).round(2) %> miles away</span>
    <p> </p>
    <p class="content-requests"><%= raw @request.body.truncate(1000, separator: ' ') %></p>  
  </div>
  <hr>

  <span class = "req-header"> <%= @request.comments.length %> replies - </span>
  <span><%= link_to "Add a new reply", new_request_comment_path(@request)%></span>
<div >

<% @comments.each do |comment| %>
    <div class="title well comments">  
    <span class="req-specs"><%= comment.user.first_name %> </span>,
    <span class="req-specs"><%= @request.distance_to(current_user.home_address).round(2) %> miles away</span>
    <p> </p>
    <p class="content-requests"><%= raw comment.body.truncate(1000, separator: ' ') %></p>
    <% if current_user && current_user == comment.user%>
        <%= link_to "Delete", comment_path(comment), method: 'delete', data: {:confirm => 'Are you sure you want to delete '+ "?"} %>
      <%end%>  
  </div>


<% end %>
</div>
</div>
