<!DOCTYPE html>
<html>
  <head>
    <title>Final</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="col-sm-4 col-sm-offset-4 search-bar">
      <div class="input-group">
        <%= form_tag("/search", method: "get") do %>
          <%= text_field_tag(:address) %>
          <%= submit_tag("Search") %>
        <% end %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
