<!DOCTYPE html>
<html>
  <head>
    <title>Final</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.0/css/mdb.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav>
      <div class="navbar navbar-inverse navbar-fixed-top">
        <%= image_tag "http://static.tumblr.com/9d93c0bba1667d34f8d7fa29a1b50775/ssfwhcy/jtKn3zprx/tumblr_static_2ugig39g5i8084cogcwgg0ks0.jpg", :width=> "70px", :height=> "50px", :class=> "logo navbar-left" %>
        <a href="/" class="navbar-brand">Good Neighbor | <small>Lend a hammer, meet a neighbor</small></a>
        <% if current_user %>
        <div class="col-sm-4 col-sm-offset-1 search-bar">
          <div class="input-group">
            <%= form_tag("/search", method: "get") do %>
              <%= text_field_tag :address, nil, placeholder: "Go to an address", class: "search-input input-sm"  %>
            <% end %>
          </div>
        </div>
        <% end %>
        <% if current_user %>
        <ul class="navbar-right">  
        </ul>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav navbar-right ">
            <li class= "add-request"><span class="glyphicon glyphicon-wrench "></span><%= link_to ' Make a request', new_request_path %></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <% if !current_user[:avatar].nil? %>
                  <%= image_tag current_user[:avatar], :width=> "30px", :height=> "30px", :class=> "profile-pic" %>
                <% else %>
                <%= image_tag ("https://api.adorable.io/avatars/200/abott@adorable.png"), :width=> "30px", :height=> "30px", :class=> "profile-pic" %>
                <% end%>
                  <span class="caret"></span>
              </a>
                  <ul class="dropdown-menu">
                    
                    <li><%= link_to "Profile", user_path(current_user) %></li>
                    <li><%= link_to "Log Out", destroy_user_session_path, method: "delete", class:"dropdown-item" %></li>

              </ul>
            </li>
          </ul>
          <% end %>
        </div>
       
      </div>
    </nav>
    <div class= "jumbotron" id= "jumbo">
      <%= image_tag "https://i.imgur.com/v06ZvvI.jpg", class: "neighbors" %>
    </div>
    
    <div class="container">
    <div class= "row">


    <%= yield %>

      
          
    <div class="col-md-3 scrollspy">
      <ul id="nav" class="nav hidden-xs hidden-sm" data-spy="affix">
        <li class="slider-image">
          <a class="hover-pic" href="/"><% if !current_user[:avatar].nil? %>
                  <%= image_tag current_user[:avatar], :width=> "60px", :height=> "60px", :class=> "profile-pic" %>
                <% else %>
                <%= image_tag ("https://api.adorable.io/avatars/200/abott@adorable.png"), :width=> "60px", :height=> "60px", :class=> "profile-pic" %>
                <% end%></a>
        </li>
        <li class= "center">
          <span>Your activity</span><br>
          <ul class="nav">
            <% current_user.requests[0..3].each do |request| %>
            <li>
              <%= link_to request.title, request_path(request) %>
            </li>
            <% end %> 
            <% current_user.comments[0..3].each do |comment| %>
            <li>
              <%= link_to comment.request.title, request_path(comment.request) %>
            </li>
            <% end %> 

          </ul><!--end of sub navigation-->
        </li>    

      </ul><!-- end of main navigation -->
    </div>


  </div>
  </body>
</html>
