<!DOCTYPE html>
<html>
  <head>
    <title>Final</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.0/css/mdb.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav>
      <div class="navbar navbar-inverse navbar-fixed-top">
        <%= image_tag "https://i.imgur.com/gLj2iOG.jpg", :width=> "50px", :height=> "50px", :class=> "logo navbar-left" %>
        <a href="/" class="navbar-brand">Good Neighbor | <small>Lend a hammer, meet a neighbor</small></a>
        <% if current_user %>
        <div class="col-sm-4 col-sm-offset-1 search-bar">
          <div class="input-group">
            <%= form_tag("/search", method: "get") do %>
              <%= text_field_tag :address, nil, placeholder: "search by address", class: "search-input input-sm"  %>
              <%= submit_tag("Search", class: "btn btn-success btn-sm") %>
            <% end %>
          </div>
        </div>
        <% end %>
        <ul class="navbar-right">  
        </ul>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav navbar-right ">
            <li class= "add-request"><span class="glyphicon glyphicon-wrench "></span><%= link_to ' Add a request', new_request_path %></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <% if current_user %>
                  <%= image_tag current_user[:avatar], :width=> "30px", :height=> "30px", :class=> "profile-pic" %>
                <% else %>
                  options
                <% end %>
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <% if current_user %>
                <li><%= link_to "Log Out", destroy_user_session_path, method: "delete", class:"dropdown-item" %></li>

                <% elsif !current_user %>
                <li><%= link_to "Log In", new_user_session_path %></li>
                <li><%= link_to "Join", new_user_registration_path %></li>

                <% end %>
              </ul>
            </li>
          </ul>
        </div>
       
      </div>
    </nav>
    <div class= "jumbotron" id= "jumbo">
      <%= image_tag "https://i.imgur.com/tANo68q.jpg", class: "neighbors" %>
    </div>
    
    <div class="container">
    


    <%= yield %>

  </div>
  </body>
</html>
